<p style="color: green"><%= notice %></p>

<%= render @webhook %>

<div>
  <%= link_to "Edit this webhook", edit_webhook_path(@webhook) %> |
  <%= link_to "Back to webhooks", webhooks_path %>

  <%= button_to "Destroy this webhook", @webhook, method: :delete %>
</div>
